<div class="container">
    <h1>Groceries</h1>
    <select (change)="onTypeChange($event)" class="type-select">
        <option value="">Select type</option>
        <option value="fruit">Fruit</option>
        <option value="snacks">Snacks</option>
    </select>
    <ul class="grocery-list">
        @for(grocItem of (filteredGroceries$ | async) ?? (groceries$ | async); track grocItem.id) {
          <li class="grocery-item">
            <span class="increment-button" (click)="increment(grocItem)">+</span>
            {{ grocItem.name }}
            <span class="decrement-button" (click)="decrement(grocItem)">-</span>
          </li>
        }@empty {
            <li>loading..</li>
        }            
      </ul>
</div>